.contenedor {
    background-color: rgb(173, 154, 128);
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: flex-end;

}

#rojo {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
}

#azul {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
}

    #verde {
        width: 200px;
        height: 200px;
        background: green;
        display: flex;
        justify-content: center;
        align-items: center;
        color: beige;
    }